body{
    margin-top: 90px !important;
}

#barra{
    background: linear-gradient(#ffc500, #0148c2);
    
}

#imgDigimon{
    display: flex;
    justify-content: center;
}

footer{
    color: whitesmoke;
    background-color: #0148c2;
}
